@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";
@import "regular.scss";
@import "v4-shims.scss";

:root {
  //min-with
  --smallPnone: 320px;
  --phone: 37.5em;
  --tablet: 48em;
  --desktop: 700px;
  --largeScreen: 114em;

  --pageColor: rgb(27, 1, 58);
  --fontfamily: Arial, Helvetica, sans-serif;
  --textColor: rgb(247, 235, 235);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--pageColor);
  font-family: var(--fontfamily);
  color: var(--textColor);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
::before,
::after {
  text-decoration: none;
}


.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    background-color: var(--pageColor);
  
    .imageWrapper {
      img {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #010005;
        width: 2em;
        height: 2em;
        margin-right: 4em;
        overflow: hidden;
      }
    }
    .titleWrapper {
      background-color: var(--pageColor);
      text-align: center;
  
      .groupG {
        color: whitesmoke;
        font-size: 13pt;
        font-weight: 700;
      }
      .etrep {
        color: #3cb7f4;
        font-size: 13pt;
        font-weight: 700;
      }
  

    }
  
    @media (min-width: 700px) {
      .titleWrapper {
        .groupG {
          font-size: 20pt;
        }
        .etrep {
          font-size: 20pt;
        }
      }

      .imageWrapper {
        img {
          width: 4em;
          height: 4em;
       
        }
      }
    }


  }


  .mainWrapper{
    display: grid;
    grid-template-columns: 1fr;
    .space{
      min-height: 5em;
      background-color: rgb(4, 1, 12);

    }
    .title{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-items: center;
      min-height: 5em;
      
      background-color: rgb(4, 1, 12);
      h1{
        color: white;
      }
    }
    .businessWrapper{

     min-height: 20em;
     background-color: white;
     display: grid;
     grid-template-columns: 40% 60%;
     .imageWrapper{
    background-color: aqua;
    img{
     width:100%;
     height: 100%;
    }
     }

    .textWrapper{
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 1em;

      .col1{
        
        background-color:rgb(7, 7, 174);

        p{
          padding: 2px;
          margin: 2px;
        }
      
      }
 


     }
    }

    .WorkersWrapper{
      min-height: 10em;
      background-color:rgb(110, 16, 232);
      display: grid;
      grid-template-columns: auto auto auto auto auto;
    }

    
    .TestimonialsWrapper{
      min-height: 10em;
      background-color:rgb(183, 243, 182);
      display: grid;
      grid-template-columns: auto auto auto auto auto;
    }

  }
