@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";
@import "regular.scss";
@import "v4-shims.scss";

:root {
  //min-with
  --smallPnone: 320px;
  --phone: 37.5em;
  --tablet: 48em;
  --desktop: 700px;
  --largeScreen: 114em;

  --pageColor: rgb(27, 1, 58);
  --fontfamily: Arial, Helvetica, sans-serif;
  --textColor: rgb(247, 235, 235);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: red;

  font-family: var(--fontfamily);
  color: var(--textColor);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
::before,
::after {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--pageColor);

  .imageWrapper {
    img {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #010005;
      width: 2em;
      height: 2em;
      margin-right: 4em;
      overflow: hidden;
    }
  }
  .titleWrapper {
    background-color: var(--pageColor);
    text-align: center;

    .groupG {
      color: whitesmoke;
      font-size: 13pt;
      font-weight: 700;
    }
    .etrep {
      color: #3cb7f4;
      font-size: 13pt;
      font-weight: 700;
    }
  }

  @media (min-width: 700px) {
    .titleWrapper {
      .groupG {
        font-size: 20pt;
      }
      .etrep {
        font-size: 20pt;
      }
    }

    .imageWrapper {
      img {
        width: 4em;
        height: 4em;
      }
    }
  }
}

.mainWrapper {
  display: grid;
  grid-template-columns: 1fr;

  .space {
    display: flex;
    min-height: 3em;
    background-color: rgb(230, 227, 239);
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;

    background-color: rgb(1, 0, 3);
    h1 {
      margin: 0;
      padding: 0;
      color: white;

      font-size: large;
    }
  }
  .businessWrapper {
    margin: 0;
    padding: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 10em;
    .imageWrapper {
      background-color: rgb(32, 239, 239);
      img {
        width: 10em;
        height: 10em;
        object-fit: contain;
      }
    }

    .textWrapper {
      display: grid;
      grid-template-columns: 30% 70%;
      gap: 0.5em;

      .col1 {
        h2 {
          font-size: medium;
          padding: 0;
          margin: 0;
        }
        background-color: rgb(7, 7, 174);

        p {
          padding: 2px;
          margin: 2px;
          font-size: 10px;
        }
      }

      .col2 {
        background-color: rgb(231, 231, 243);
        display: grid;
        margin-top: 0.5em;
        grid-template-rows: 10% 90%;
        .colocation1 {
          h3 {
            padding: 0;
            margin: 0;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #010005;

          i {
            font-size: 20pt;
            align-self: center;
          }
        }

        .colocation2 {
          display: grid;
          grid-template-columns: 40% 60%;

          .loc {
            display: grid;
            grid-template-rows: 20% 80%;
            background-color: #3cb7f4;

            .locSymbol {
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                font-size: 20pt;
              }
              background-color: #afa6d2;
            }

            .locText {
              background-color: rgb(35, 146, 13);
            }
          }
          .map {
            background-color: azure;
            iframe {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .WorkersWrapper {
    background-color: rgb(1, 0, 2);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;

    .title {
      background-color: #050a0d;
    }

    .worker {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      background-color: gray;
      .lcard {
        display: grid;
        grid-template-rows: 70% 30%;

        background-color: #3cb7f4;
        .imgWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(27, 44, 150);
          img {
            width: 200px;
            height: 200px;
            background-size: contain;
            border-radius: 50%;
          }
        }

        .textWrap {
          background-color: rgb(19, 17, 118);
          text-align: center;
        }
      }
    }
  }

  .TestimonialsWrapper {
    min-height: 10em;
    background-color: rgb(183, 243, 182);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 20pt;
  }
  .mainWrapper {
    .space {
      min-height: 4em;
    }

    .title {
  
      h1 {

        font-size: 30pt;
      }
    }

    .WorkersWrapper {
      .worker {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }
    .businessWrapper {
      height: 20em;
      .imageWrapper {
        background-color: rgb(32, 239, 239);
        img {
          width: 20em;
          height: 20em;
     
         
        }
      }

.textWrapper{
  .col1{
    h2{
font-size: 30pt;
    }
    p{
font-size: larger;
    }
  }
}



    }
    }

    
  }

